@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    background-color: #0F0A07;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    color: #CF9A67;
}

h1 {
    color: #CF9A67;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background-color: #CF9A67;
    margin: 20px 0;
}

#introduction{
    text-align: center;
    margin-bottom: 20px;
}

#htIntroduction{
    text-align: center;
    margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #CF9A67;
}

footer hr {
  display: none;
}

.footer-text {
  text-align: left;
}

.footer-text p {
  margin: 0 0 10px;
}

.footer-logo {
  width: 80px;
}

#footerLogo {
  width: 100%;
  height: auto;
  display: block;
}

.footer-text a {
  color: #CF9A67;
}

.footer-text p {
  margin: 0 0 10px;
}

.footer-text a {
  color: #CF9A67;
}

.button{
    display: block;
    color: #CF9A67;
    background-color: #2c251c;
    border: 1px solid #CF9A67;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 1s ease;
    text-align: center;
}
.button:hover {
    background-color: #CF9A67;
    color: #2c251c;
}

#cameraAllow { 
    display:block;
    float: center;
    margin: 0 auto;
}

#cameraButton { 
    display: block;
    float: center; 
    margin: 0 auto; 
    text-decoration: none;
    width: 160px;
}

#backButton { 
  display: block;
  width: 250px;
}

.handTrackingPage{
  canvas {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
    background-color: #fff;
  }
}
